.dropdown-item:hover{
    color: white;
    background-color: black;
}

.cerrar{
    color: white;
    text-decoration: none;
}
.formato{
  text-decoration: underline;
}
 label #black:hover{
  color: white;
    background-color: black;
}
