<div class="content">
  <form action="" style="overflow-x:hidden; overflow-y:hidden">
    <div class="row">
      <div class="col-sm-10">
        <img style="width:30%;margin-left:5%;" src="../../../assets/img/tranasparent.png">
      </div>
      <div class="col-sm-2" style="margin-left:80%; margin-top: -6%;">
        <span style="color: red;"><b>SIG E</b></span><span><b>mpresas</b></span>&nbsp;<span
          style="color: red;"><b>C</b></span><span><b>omex</b></span>
      </div>
    </div>
    <hr style="margin-top: -4%;">
    <div class="row">
      <div class="col-sm-6" style="margin-left:5%;">
        <label><b>Asesor Comex:</b></label>&nbsp;<label>Jose Rodriguez Arias (Z396773)</label>&nbsp;<label>Jose
          Rodriguez Arias (Z396773)</label>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3" style="margin-left: 3%;">
        <label>Viernes 03 de Junio de 2022</label>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: red;">
      <div class="container-fluid" style="margin-left:5%;">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b>Solicitudes</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" (click)="mostrar()">
                <li><a class="dropdown-item">{{Automaticas}}</a></li>
                <li><a class="dropdown-item">{{Selectivas}}</a></li>
                <li><a class="dropdown-item">{{TMEC}}</a></li>
                <li><a class="dropdown-item">{{Contrato_PYME}}</a></li>
                <li><a class="dropdown-item">{{Comex_TMEC}}</a></li>
                <li><a class="dropdown-item">{{Turismo}}</a></li>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b>Descargar Formato</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item">Action</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;
              <img src="../../../assets/img/candado.png" alt="cerrar sesion..." style="width: 20px;" height="20px">
              <label style="color:white;"><b><a class="cerrar" href="#">Cerrar Sesion</a></b></label>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <div *ngIf="esconderF">
      <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
        <div class="col-sm-2">
          <label>FOLIO:</label>
        </div>
        <div class="col-sm-2">
          <label>SUCURSAL:</label>
        </div>
        <div class="col-sm-2">
          <label>SOLICITADO:</label>
        </div>
        <div class="col-sm-2">
          <label>ESTATUS FOLIO:</label>
        </div>
        <div class="col-sm-2">
          <label>ACREDITADO:</label>
        </div>
        <div class="col-sm-2">
          <label>ACREDITADO:</label>
        </div>
      </div>
      <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <select style="width:100%;height:100%;">
            <option>Seleccionar</option>
          </select>
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button class="btn btn-primary">Buscar</button>
          &nbsp;&nbsp;
          <button class="btn btn-primary">Limpiar</button>
        </div>
      </div>
    </div>
    <hr>

    <div *ngIf="esconder" class="content">
      <div class="row" style="text-align:center;">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text">
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text">
        </div>
        <div class="col-sm-3">
          <label>ESTATUS FOLIO:</label>&nbsp;
          <select style="width:60%;height:60%;">
            <option>Seleccionar</option>
          </select>
        </div>
        <br>
        <br>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button class="btn btn-primary">Buscar</button>
          &nbsp;&nbsp;
          <button class="btn btn-primary">Limpiar</button>
        </div>
      </div>
    </div>
  </form>
</div>

