  <div class="content">
    <form action="" style="overflow-x:hidden; overflow-y:hidden">
      <app-header></app-header>
      <div class="row">
        <div class="col-sm-6" style="margin-left:5%;">
          <label><b>Especialista Comex 22:</b></label>&nbsp;<label>Jose Rodriguez Arias (Z396773)</label>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="margin-left: 3%;">
          <label>{{fecha | date: 'EEEE d De MMMM Del y'}}</label>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg" style="background-color: red;">
        <div class="container-fluid" style="margin-left:5%;">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Solicitar Credito</b></label>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: 180%; background-color: #2D2D2D; color: white;">
                  <div >
                    <li class="hoverBlack" *ngIf="garantiaA === garantiaA" data-bs-toggle="modal" data-bs-target="#garantiaA">{{garantiaA}}</li>

                    <li class="hoverBlack" *ngIf="garantiaS === garantiaS" data-bs-toggle="modal" data-bs-target="#garantiaS">{{garantiaS}}</li>

                    <li class="hoverBlack" *ngIf="garantiaTMEC === garantiaTMEC" data-bs-toggle="modal" data-bs-target="#garantiaTMEC">{{garantiaTMEC}}</li>

                    <li class="hoverBlack" *ngIf="contratoPYME === contratoPYME" data-bs-toggle="modal" data-bs-target="#contratoPYME">{{contratoPYME}}</li>

                    <li class="hoverBlack" *ngIf="garantiaCOMEXTMEC === garantiaCOMEXTMEC" data-bs-toggle="modal" data-bs-target="#garantiaCOMEXTMEC">{{garantiaCOMEXTMEC}}</li>

                    <li  class="hoverBlack"  *ngIf="garantiaT === garantiaT" data-bs-toggle="modal" data-bs-target="#garantiaT">{{garantiaT}}</li>

                    <li class="hoverBlack" *ngIf="res === res" data-bs-toggle="modal" data-bs-target="#garantiaR">{{res}}</li>
                  </div>
                </ul>
              </li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <label data-bs-toggle="dropdown" (click)="inicio()" style="color:white;"><b id="black">Solicitudes</b></label>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: 240%; background-color: #2D2D2D; color: white;">
                  <li (click)="mostrarAutomatica()" id="black">{{Automaticas}}</li>
                    <li (click)="mostrarSelectiva()" id="black">{{Selectivas}}</li>
                    <li (click)="mostrarTMEC()" id="black">{{TMEC}}</li>
                    <li (click)="mostrarPYME()" id="black">{{Contrato_PYME}}</li>
                    <li (click)="mostrarComexTMEC()" id="black">{{Comex_TMEC}}</li>
                    <li (click)="mostrarTurismo()" id="black">{{Turismo}}</li>
                    <li (click)="mostrarReestructuras()" id="black">{{Reestructuras}}</li>
                </ul>
              </li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <label data-bs-toggle="dropdown" style="color:white;"><b id="black" class="formato">Descargar
                    Formato</b></label>
              </li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Programas</b></label>
                <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; width: 240%;">
                  <li style="color: white;" class="hoverBlack" data-bs-toggle="modal" data-bs-target="#modalGarantias">Buscar Grantias de cliente</li>
                  <li style="color: white;" class="hoverBlack">Catalogo de Programas</li>
                  <li style="color: white;" class="hoverBlack">Alta de Programas</li>
                </ul>
              </li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Reportes</b></label>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; color: white;">
                  <li><a class="dropdown-item" style="color: white;"  (click)="mostrarReportes()">Solicitudes Realizadas</a></li>

                </ul>
              </li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <label data-bs-toggle="dropdown"  style="color:white;"><b id="black" data-bs-toggle="modal" data-bs-target="#garantiaR">Reestructuras</b></label>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">&nbsp;&nbsp;
                <img src="../../../assets/img/candado.png" alt="cerrar sesion..." style="width: 20px;" height="20px">
                <label style="color:white;"><b><a id="black" class="cerrar" href="#">Cerrar Sesion</a></b></label>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>


      <div *ngIf="!mostrarSolicitudAutomatica && !mostrarSolicitudSelectiva && !mostrarContratoPyme && !mostrarSolicitudTMEC
      && !mostrarSolicitudComexTMEC && !mostrarSolicitudTurismo && !mostrarSolicitudReestructura">
        <app-filtro-automaticas></app-filtro-automaticas>
      </div>

      <div *ngIf="mostrarSolicitudAutomatica" class="content">
        <app-filtro-automaticas></app-filtro-automaticas>
        <hr />
      </div>

      <div *ngIf="mostrarSolicitudSelectiva" class="content">
        <app-filtro-selectivas></app-filtro-selectivas>
        <hr />
      </div>
      <!-- hasta aqui selectiva-->
      <!-- pyme desde aqui -->
      <div *ngIf="mostrarContratoPyme" class="content">
        <app-filtro-contro-pyme></app-filtro-contro-pyme>
        <hr />
      </div>
      <!-- hasta aqui -->
      <!-- desde aqui comextmec -->
      <div *ngIf="mostrarSolicitudComexTMEC" class="content">
        <app-filtro-comex-tmec></app-filtro-comex-tmec>
        <hr />
      </div>
      <!-- hasta aqui -->
       <!-- desde aqui tmec -->
       <div *ngIf="mostrarSolicitudTMEC" class="content">
       <app-filtro-tmec></app-filtro-tmec>
        <hr />
      </div>
      <!-- hasta aqui -->
      <!-- desde aqui tmec -->
      <div *ngIf="mostrarSolicitudTurismo" class="content">
        <app-filtro-turismo></app-filtro-turismo>
        <hr />
      </div>
      <!-- hasta aqui -->
      <div *ngIf="mostrarSolicitudReestructura" class="content">
       <app-filtro-reestructuras></app-filtro-reestructuras>
        <hr />
      </div>

      <br><br>
    </form>

  </div>

  <div>
  </div>

    <app-form></app-form>
    <app-form-comex-tmec></app-form-comex-tmec>
    <app-form-pyme></app-form-pyme>
    <app-form-selectivas></app-form-selectivas>
    <app-form-tmec></app-form-tmec>
    <app-form-turismo></app-form-turismo>
    <app-form-reestructuras></app-form-reestructuras>

<app-consultagarantia></app-consultagarantia>
<div>
  <app-reportes-especialista *ngIf="reporte" ></app-reportes-especialista>
</div>

