 <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
        <div class="col-sm-2">
          <label>FOLIO:</label>
        </div>
        <div class="col-sm-2">
          <label>SUCURSAL:</label>
        </div>
        <div class="col-sm-2">
          <label>SOLICITADO:</label>
        </div>
        <div class="col-sm-2">
          <label>ESTATUS FOLIO:AUTO</label>
        </div>
        <div class="col-sm-2">
          <label>ACREDITADO:</label>
        </div>
        <div class="col-sm-2">
          <label>ACREDITADO:</label>
        </div>
      </div>
      <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">

        </div>
        <div class="col-sm-2">
          <select style="width:100%;height:100%;" [(ngModel)]='pasoDEfault'>
            <option id="black" value="paso1">{{CapturarSolicitud}}1</option>
            <option id="black" value="paso2">{{ProcesoPendienteAsesorC}}</option>
            <option id="black" value="paso3">{{EspecialistaComexRech}}</option>
            <option id="black" value="paso4">{{ProcesoPendienteContraloria}}</option>
            <option id="black" value="paso6">{{FondosDeFomento}}</option>
            <option id="black" value="paso7">{{EnviadaNafinet}}</option>
            <option id="black" value="paso8">{{AprobadoNafinet}}</option>
            <option id="black" value="paso9">{{RechaxoNafinet}}</option>
            <option id="black" value="paso10">{{Reproceso}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button id="efecto" (click)="mostrarTablasAutomaticas()" class="btn btn-primary">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-primary">Limpiar</button>
        </div>
      </div>
      <br>
      <app-table *ngIf="mostrarTablaAutomaticas"></app-table>


