<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-2">
    <label>FOLIO:auto</label>
  </div>
  <div class="col-sm-2">
    <label>SUCURSAL:</label>
  </div>
  <div class="col-sm-2">
    <label>SOLICITADO:</label>
  </div>
  <div class="col-sm-2">
    <label>ESTATUS FOLIO:SEL</label>
  </div>
  <div class="col-sm-2">
    <label>ACREDITADO:</label>
  </div>

</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-2">
    <input type="text">
  </div>
  <div class="col-sm-2">
    <input type="text">
  </div>
  <div class="col-sm-2">
    <input type="text">

  </div>
  <div class="col-sm-2">
    <select style="width:100%;height:100%;">
      <option id="black">{{CapturarSolicitud}}</option>
      <option id="black">{{NegocioInternacional}}</option>
      <option id="black">{{EnvBancomext}}</option>
      <option id="black">{{EspecialistaComex}}</option>
      <option id="black">{{Observaciones}}</option>
      <option id="black">{{Formalizacion}}</option>
      <option id="black">{{FormalizacionEspecialista}}</option>
      <option id="black">{{PPAsesor}}</option>
      <option id="black">{{RechazoEspecialista}}</option>
      <option id="black">{{PPContraliria}}</option>
      <option id="black">{{PPCartera}}</option>
      <option id="black">{{FF}}</option>
      <option id="black">{{Resumen}}</option>

    </select>
  </div>
  <div class="col-sm-2">
    <input type="text">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12" style="margin-left: 78%">
    <button id="efecto" (click)="mostrarTablasSelectivas()" class="btn btn-primary">Buscar</button>
    &nbsp;&nbsp;
    <button id="efecto" class="btn btn-primary">Limpiar</button>
  </div>
</div>
<br>
<app-table-selectivas *ngIf="mostrarTablaSelectivas"></app-table-selectivas>
