.completo{
    background-color:  #9DC8E2;
    border: 1px solid #A9A9A9; font-size: 90%; cursor: not-allowed;
}

.activo{
    background-color: #2184BE ;
    border: 1px solid #A9A9A9; font-size: 90%; cursor: not-allowed;
}

.incompleto{
    background-color: #EEEEEE;
    border: 1px solid #A9A9A9; font-size: 90%; cursor: not-allowed;
}

