<div class="row">
    <div class="col sm-1"></div>
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso1')" style="height:100%;">
            <label for="">Capturar Solicitud</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso2')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Proceso Pendiente Asesor Comex</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso3')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Especialista Comex</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso4')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Proceso Pendiente Contraloria</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso5')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Proceso Pendiente Cartera</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso6')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Fondos de Fomento</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso7')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Enviada Nafinet</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso8')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Aprobado Nafinet</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso9')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Rechazado Nafinet</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso10')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Reproceso</label>
        </div>
    </div>   
    <div class="col sm-1"></div>
</div>
<br>
<div class="row" *ngIf="showSelectivas">
    <div class="col sm-1"></div>
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso11')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Reproceso</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso12')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Proceso Pendiente Asesor Comex</label>
        </div>
    </div>
    &nbsp;
    <div class="col-sm-1" style="padding:0; text-align: center;">
        <div [className]="getStatus('paso13')" style="height:100%;">
            <label for="" style="cursor: not-allowed;">Proceso Pendiente Asesor Comex</label>
        </div>
    </div>
    <div class="col sm-8"></div>
</div>