<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-2">
    <label>FOLIO:</label>
  </div>
  <div class="col-sm-2">
    <label>SUCURSAL:</label>
  </div>
  <div class="col-sm-2">
    <label>SOLICITADO:</label>
  </div>
  <div class="col-sm-2">
    <label>ESTATUS FOLIO:CT</label>
  </div>
  <div class="col-sm-2">
    <label>ACREDITADO:</label>
  </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-2">
    <input type="text">
  </div>
  <div class="col-sm-2">
    <input type="text">
  </div>
  <div class="col-sm-2">
    <input type="text">

  </div>
  <div class="col-sm-2">
    <select style="width:100%;height:100%;">
      <option id="black">{{CapturarSolicitud}}</option>
      <option id="black">{{ProcesoPendienteAsesorC}}</option>
      <option id="black">{{EspecialistaComexRech}}</option>
      <option id="black">{{ProcesoPendienteContraloria}}</option>
      <option id="black">{{FondosDeFomento}}</option>
      <option id="black">{{EnviadaNafinet}}</option>
      <option id="black">{{AprobadoNafinet}}</option>
      <option id="black">{{RechaxoNafinet}}</option>
      <option id="black">{{Reproceso}}</option>
    </select>
  </div>
  <div class="col-sm-2">
    <input type="text">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12" style="margin-left: 78%">
    <button id="efecto" (click)="mostrarTablasComexTmec()" class="btn btn-primary">Buscar</button>
    &nbsp;&nbsp;
    <button id="efecto" class="btn btn-primary">Limpiar</button>
  </div>
</div>
<app-table-comex-tmec *ngIf="mostrarTablaComextmec"></app-table-comex-tmec>
<app-form-comex-tmec></app-form-comex-tmec>
