<div class="col-sm-8">
  <label><b>SELECCIONE LAS SOLICITUDES EN PROCESO QUE DESEE PASAR AL NUEVO PROGRAMA</b></label>
</div>
<div class="container">
  <div class="dataTables_info">
          <table class="table table-bordered table-striped row-border hover" style="border: 3px solid #9c9a9a; border-radius: 50px; font-size: 11px;">
              <thead style="background-color: black; color: white;">
              <tr>
                  <th><img src="../../../../assets/img/flechita.png" style="width: 20px; height: 20px;"></th>
                  <th>Folio</th>
                  <th>Estatus</th>
                  <th>Fecha Solicitado</th>
                  <th>FechaUltimoEstatus</th>
                  <th>Nombre o Razon social</th>
                  <th>No. Credito</th>
                  <th>Monto total del credito</th>
                  <th>Moneda</th>
                  <th>BUC</th>
                  <th>Sgto_Especif</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <input type="checkbox">
                  <td>545454545</td>
                  <td>Especialista</td>
                  <td>2020-04-21</td>
                  <td>2020-04-21 02:10:59</td>
                  <td>Group Italia</td>
                  <td>10091991919191111</td>
                  <td>18,000,000.00</td>
                  <td>MXP</td>
                  <td>3441111</td>
                  <td>9689-PYME</td>
              </tr>
              </tbody>
          </table>
        </div>
</div>



