<div class="content">
  <form action="" style="overflow-x:hidden; overflow-y:hidden">
    <app-header></app-header>
    <div class="row">
      <div class="col-sm-6" style="margin-left:5%;">
        <label><b>Contraloria:</b></label>&nbsp;<label>Jose Rodriguez Arias (Z396773)</label>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3" style="margin-left: 3%;">
        <label>{{fecha | date: 'EEEE d De MMMM Del y'}}</label>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: red;">
      <div class="container-fluid" style="margin-left:5%;">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;" (click)="inicio()"><b id="black">Solicitudes</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width:240%;">
                <div>
                  <li (click)="mostrarAutomatica()" id="black">{{Automaticas}}</li>
                  <li (click)="mostrarSelectiva()" id="black">{{Selectivas}}</li>
                  <li (click)="mostrarTMEC()" id="black">{{TMEC}}</li>
                  <li (click)="mostrarHotelero()" id="black">{{Hotel}}</li>
                  <li (click)="mostrarComexTMEC()" id="black">{{Comex_TMEC}}</li>
                  <li (click)="mostrarTurismo()" id="black">{{Turismo}}</li>
                  <li (click)="mostrarReestructuras()" id="black">{{Rees}}</li>
                </div>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black" class="formato">Descargar
                  Formato</b></label>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;
              <img src="../../../assets/img/candado.png" alt="cerrar sesion..." style="width: 20px;" height="20px">
              <label style="color:white;"><b id="black"><a class="cerrar" routerLink="">Cerrar Sesion</a></b></label>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>


    <div *ngIf="!mostrarSolicitudAutomatica && !mostrarSolicitudSelectiva && !mostrarSolicitudTMEC
    && !mostrarSolicitudComexTMEC && !mostrarSolicitudTurismo && !mostrarSolicitudReestructuras && !mostrarSolicitudHotelero">
      <app-filtro-automaticas></app-filtro-automaticas>
      <br>
    </div>

    <div *ngIf="mostrarSolicitudAutomatica" class="content">
      <app-filtro-automaticas></app-filtro-automaticas>
      <hr />

    </div>

    <div *ngIf="mostrarSolicitudSelectiva" class="content">
      <app-filtro-selectivas></app-filtro-selectivas>
      <hr />



    </div>
    <!-- hasta aqui selectiva-->
    <!-- pyme desde aqui -->
    <div *ngIf="mostrarContratoPyme" class="content">
      <app-filtro-contro-pyme></app-filtro-contro-pyme>
      <hr />



    </div>
    <!-- hasta aqui -->
    <!-- desde aqui comextmec -->
    <div *ngIf="mostrarSolicitudComexTMEC" class="content">
      <app-filtro-comex-tmec></app-filtro-comex-tmec>
      <hr />
    </div>
    <!-- hasta aqui -->
     <!-- desde aqui tmec -->
     <div *ngIf="mostrarSolicitudTMEC" class="content">
      <app-filtro-tmec></app-filtro-tmec>
      <hr />
    </div>
    <!-- hasta aqui -->
    <!-- desde aqui tmec -->
    <div *ngIf="mostrarSolicitudTurismo" class="content">
      <app-filtro-turismo></app-filtro-turismo>
      <hr />
    </div>
    <!-- hasta aqui -->
    <div *ngIf="mostrarSolicitudHotelero" class="content">
      <div class="row" style="text-align: center">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>ESTATUS FOLIO:Hotelero</label>&nbsp;
          <select style="width: 60%; height: 60%">
            <option>{{CapturarSolicitud}}</option>
            <option>{{ProcesoPendienteAsesorC}}</option>
            <option>{{EspecialistaComexRech}}</option>
            <option>{{ProcesoPendienteContraloria}}</option>
            <option>{{FondosDeFomento}}</option>
            <option>{{EnviadaNafinet}}</option>
            <option>{{AprobadoNafinet}}</option>
            <option>{{RechaxoNafinet}}</option>
            <option>{{Reproceso}}</option>
          </select>
        </div>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button (click)="mostrarTablasHotelero()" id="efecto" class="btn btn-primary">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-primary">Limpiar</button>
        </div>
      </div>
      <hr />
    </div>

    <div *ngIf="mostrarSolicitudReestructuras" class="content">
      <app-filtro-reestructuras></app-filtro-reestructuras>
      <hr />
    </div>
    <br><br>
  </form>

</div>
<div>
</div>
<app-form></app-form>
<app-form-comex-tmec></app-form-comex-tmec>
<app-form-selectivas></app-form-selectivas>
<app-form-tmec></app-form-tmec>
<app-form-turismo></app-form-turismo>
<app-form-reestructuras></app-form-reestructuras>
<app-form-hotelero></app-form-hotelero>
