 <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
        <div class="col-sm-2">
          <label>FOLIO:auto</label>
        </div>
        <div class="col-sm-2">
          <label>SUCURSAL:</label>
        </div>
        <div class="col-sm-2">
          <label>SOLICITADO:</label>
        </div>
        <div class="col-sm-2">
          <label>ESTATUS FOLIO:AUTOMATICAS</label>
        </div>
        <div class="col-sm-2">
          <label>ACREDITADO:</label>
        </div>
        <div class="col-sm-2">
          <label>ACREDITADO:</label>
        </div>
      </div>
      <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">

        </div>
        <div class="col-sm-2">
          <select style="width:100%;height:100%;">
            <option id="black">{{CapturarSolicitud}}</option>
            <option id="black">{{ProcesoPendienteAsesorC}}</option>
            <option id="black">{{EspecialistaComexRech}}</option>
            <option id="black">{{ProcesoPendienteContraloria}}</option>
            <option id="black">{{FondosDeFomento}}</option>
            <option id="black">{{EnviadaNafinet}}</option>
            <option id="black">{{AprobadoNafinet}}</option>
            <option id="black">{{RechaxoNafinet}}</option>
            <option id="black">{{Reproceso}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button id="efecto" (click)="mostrarTablasAutomaticas()" class="btn btn-primary">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-primary">Limpiar</button>
        </div>
      </div>


    <div *ngIf="mostrarSolicitudAutomatica" class="content">
      <div class="row" style="text-align: center">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label >ESTATUS FOLIO:AUTOMATICA</label>&nbsp;
          <select style="width: 60%; height: 60%">
            <option>{{CapturarSolicitud}}</option>
            <option>{{ProcesoPendienteAsesorC}}</option>
            <option>{{EspecialistaComexRech}}</option>
            <option>{{ProcesoPendienteContraloria}}</option>
            <option>{{ProcesoPendienteCartera}}</option>
            <option>{{FondosDeFomento}}</option>
            <option>{{EnviadaNafinet}}</option>
            <option>{{AprobadoNafinet}}</option>
            <option>{{RechaxoNafinet}}</option>
            <option>{{Reproceso}}</option>
          </select>
        </div>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button id="efecto" (click)="mostrarTablasAutomaticas()" class="btn btn-primary">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-primary">Limpiar</button>
        </div>
      </div>
      <hr />

    </div>
    <app-table *ngIf="mostrarTablaAutomaticas"></app-table>
    <app-form></app-form>
