<div class="content" style="overflow-x: hidden; overflow-y: hidden">
  <div class="row" style="text-align: center">
    <div class="col-sm-3">
      <label>FOLIO:</label>&nbsp;
      <input type="text" />
    </div>
    <div class="col-sm-3">
      <label>SOLICITADO:</label>&nbsp;
      <input type="text" />
    </div>
    <div class="col-sm-3">
      <label>ESTATUS FOLIO:</label>&nbsp;
      <select style="width: 60%; height: 60%">
        <option></option>
        <option>Capturar Solcitud</option>
        <option>Proceso Pendiente Asesor Comex</option>
        <option>Especialista Comex (Rechazos)</option>
        <option>Proceso Pendiente Contraloría</option>
        <option>Proceso Pendiente Cartera</option>
        <option>Fondos de Fomento</option>
        <option>Enviada a Nafinet</option>
        <option>Aprobado Nafinet</option>
        <option>Rechazado Nafinet</option>
        <option>Reproceso</option>
      </select>
    </div>
    <br />
    <br />
  </div>
  <div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
      <button class="btn btn-primary">Buscar</button>
      &nbsp;&nbsp;
      <button class="btn btn-primary">Limpiar</button>
    </div>
  </div>
  <hr />
</div>
