<div class="content" style="overflow-x:hidden; overflow-y:hidden">
    <div class="row" style="text-align:center;">
        <div class="col-sm-3">
            <label>FOLIO:</label>&nbsp;
            <input type="text">
        </div>
        <div class="col-sm-3">
            <label>SOLICITADO:</label>&nbsp;
            <input type="text">
        </div>
        <div class="col-sm-3">
            <label>ESTATUS FOLIO:</label>&nbsp;
            <select style="width:60%;height:60%;">
                <option>Seleccionar</option>
            </select>
        </div>
        <br>
        <br>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
            <button class="btn btn-primary">Buscar</button>
            &nbsp;&nbsp;
            <button class="btn btn-primary">Limpiar</button>
        </div>
    </div>
</div>